/DataEntryComparison/build/
/DistanceArray/build/
/BubbleSort/nbproject/private/
/BubbleSort/build/
/QuickSort.java/nbproject/private/
/QuickSort/nbproject/private/
/QuickSort/build/
/TSP/nbproject/private/
/TSP/build/
/Example_Thread/nbproject/private/
/Example_Thread/build/
/Example_Runnable/nbproject/private/
/Example_Runnable/build/
/Thread/nbproject/private/
/Thread/build/
/Runnable/nbproject/private/
/equation/nbproject/private/
/equation/build/
/equation/dist/
/SCF/nbproject/private/
/SCF/build/
/Equation2/nbproject/private/
/Equation2/build/
/testThread/nbproject/private/
/testThread/build/
/ReadFile/nbproject/private/
/ReadFile/build/
/ReadFile/dist/